@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:hover {
            @content;
        }
    }
}

@mixin hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@function px-to-rem($value) {
    $result: calc($value / $font-size);

    @return #{$result}rem;
}

// TODO: add font mixins