.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 40px;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-accent);

    &:active {
        transition-duration: var(--transition-duration-fast);
        background-color: var(--color-main);
    }
}