:root {
    // COLOR
    --color-background: #0D0714;
    --color-background-alt: #15101C;
    --color-main: #3E1671;
    --color-accent: #9E78CF;
    --color-focus: #8E8A57;
    --color-text: #9E78CF;
    --color-text-main: #FFFFFF;
    --color-completed: #78CFB0;
    --color-ui: #3E1671;
    --color-placeholder: #777777;
    
    // FONT SIZE
    --h1-font-size: 70px;
    --h2-font-size: 60px;
    --h3-font-size: 50px;
    --h4-font-size: 40px;
    --h5-font-size: 30px;
    --h6-font-size: 20px;
    --p-font-size: 18px;

    // SIZES
    --main-width: 500px;
    --button-width: 30px;

    // IMPORTANT THINGS
    --tasks-columns-amount: 1;
    --tasks-max-rows-amount: #{$tasks-max-rows-amount};

    // GAPS
    --tasks-gap: 16px;
    --main-section-gap: 60px;

    // PADDING / OFFSET
    --site-padding-x: 100px;
    
    // FONT
    --font-family-main: "Space Grotesk", sans-serif;
    --font-style: normal;
    --line-height: 1;
    --font-size: 16px;

    // DECORATIONS
    --border: 1px solid var(--color-main);
    --border-active: 1px solid var(--color-accent);
    --border-focus: 2px dashed var(--color-focus);
    --box-shadow: 1 1 var(--color-dark);
    --border-radius: 10px;

    // ANIMATIONS 
    --transition-duration: 0.2s;
    --transition-duration-fast: 0.1s;

    // MEDIA 
    // @include tablet {  } 
    // @include mobile {  }
}