.tasksList {
    display: grid;
    grid-template-columns: repeat(var(--tasks-columns-amount), 1fr);
    grid-template-rows: repeat(var(--tasks-max-rows-amount), auto);
    gap: var(--tasks-gap);
    overflow: hidden;
    width: 100%;
    max-width: var(--main-width);

    div:nth-child(n+#{$tasks-max-rows-amount}) {
        display: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}