.input {
    width: 100%;
    height: 40px;
    padding-inline: 15px;
    color: var(--color-text-main);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);

    &::placeholder {
        color: var(--color-placeholder);
        user-select: none;
    }

    &:focus-visible{
        border: var(--border-active);
        outline: none;
    }   
}